<%= form_with model: reservationc, local: true do |f| %>
  <% if reservationc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservationc.errors.count, "error") %> prohibited this reservationc from being saved:</h2>

      <ul>
      <% reservationc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.datetime_field :start_time %>
  </div>

  <div class="actions">
    <%= f.submit '予約' %>
  </div>
<% end %>
