<!DOCTYPE html>
<html>
  <head>
    <title>ReservationFunction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="text-right navbar-expand-lg">
        <% if customer_signed_in? %>
        <ul>
          <li>ようこそ！</li>
        </ul>
        <ul>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        </ul>
        <ul>
        <ul>
          <li><%= link_to "topページ", root_path %></li>
        </ul>
        <% else %>
        
          <li><%= link_to "topページ", root_path %></li>
        </ul>
        <% end %>
      </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
